Exercises/parflow_input/*.dist
Exercises/.DS_Store
Exercises/overland/heterog
Exercises/overland/horton_over
Exercises/overland/dunne_over
Exercises/overland/heterog-dunne
Exercises/overland/stormflow
Exercises/Little_Washita/Exercise1
Exercises/Little_Washita/Exercise2
Exercises/Little_Washita/Exercise3
Exercises/Little_Washita/Exercise4
Exercises/East_Inlet/EastExRun
.*swp
